{% extends 'base_content.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card shadow-lg border-0 rounded-3">

                <div class="card-header bg-primary text-white text-center py-3">
                    <h3 class="mb-0 fw-bold">
                        {% if is_edit %}
                            Edit Recipe
                        {% else %}
                            Create New Recipe
                        {% endif %}
                    </h3>
                </div>

                <div class="card-body p-4">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label fw-bold text-secondary">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}

                        <h3 class="fs-5 mt-4">Images</h3>
                        {{ formset.management_form }}
                        {% for image_form in formset %}
                            <div class="card mb-3">
                                <div class="card-body">
                                {{ image_form.id }}
                                <div class="mb-3">
                                    {{ image_form.image.label_tag }}
                                    {{ image_form.image }}
                                    {% if image_form.image.errors %}
                                    <div class="text-danger">{{ image_form.image.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ image_form.caption.label_tag }}
                                    {{ image_form.caption }}
                                </div>
                                <div class="mb-3">
                                    {{ image_form.position.label_tag }}
                                    {{ image_form.position }}
                                </div>
                                {% if image_form.DELETE %}
                                    <div class="form-check">
                                    {{ image_form.DELETE }}
                                    {{ image_form.DELETE.label_tag }}
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        {% endfor %}


                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg shadow-sm">
                                {% if is_edit %}
                                    Save changes
                                {% else %}
                                    Post Recipe
                                {% endif %}
                            </button>
                            <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}