<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      Recipify
    </a>
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'recipe_list' %}active{% endif %}" href="{% url 'recipe_list' %}">All recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'recipe_search' %}active{% endif %}" href="{% url 'recipe_search' %}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'recipe_create' %}active{% endif %}" href="{% url 'recipe_create' %}">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'user_detail' and request.resolver_match.kwargs.username == user.username %}active{% endif %}" href="{% url 'user_detail' user.username %}">My page</a>
          </li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}
        {% include 'partials/menu.html' %}
      {% else %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if request.resolver_match.url_name == 'log_in' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sign_up' %}">Sign up</a>
            </li>
          {% elif request.resolver_match.url_name == 'sign_up' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'log_in' %}">Log in</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'log_in' %}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sign_up' %}">Sign up</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
