<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
      Recipify
    </a>
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        {# Existing menu for logged-in users #}
        {% include 'partials/menu.html' %}
      {% else %}
        <ul class="navbar-nav mb-2 mb-lg-0">
          {# On the log-in page, show a link to Sign up #}
          {% if request.resolver_match.url_name == 'log_in' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sign_up' %}">Sign up</a>
            </li>

          {# On the sign-up page, show a link to Log in #}
          {% elif request.resolver_match.url_name == 'sign_up' %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'log_in' %}">Log in</a>
            </li>

          {# (Optional) on other anonymous pages, show both links #}
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'log_in' %}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sign_up' %}">Sign up</a>
            </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>