{% extends 'base_content.html' %}
{% block content %}
<div>
    <h1>{{ recipe.title }}</h1>
    <p>by {{ recipe.author.username }} | {{ recipe.created_at|date:"d M Y H:i" }}</p>

    {% if recipe.description %}
        <p><strong> Description:</strong> {{ recipe.description }} </p>
    {% endif %}

    <h2>Ingredients</h2>
    <pre>{{ recipe.ingredients }}</pre>

    <h2>Instructions</h2>
    <p style="white-space: pre-line;">{{ recipe.instructions }}</p>

    <p><a href="{% url 'recipe_list' %}">Back to all recipes</a></p>
</div>
{% endblock %}